<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetty.Buffers" version="0.6.0" targetFramework="net452" />
  <package id="DotNetty.Codecs" version="0.6.0" targetFramework="net452" />
  <package id="DotNetty.Codecs.Http" version="0.6.0" targetFramework="net452" />
  <package id="DotNetty.Common" version="0.6.0" targetFramework="net452" />
  <package id="DotNetty.Handlers" version="0.6.0" targetFramework="net452" />
  <package id="DotNetty.Transport" version="0.6.0" targetFramework="net452" />
  <package id="DotNetty.Transport.Libuv" version="0.6.0" targetFramework="net452" />
  <package id="Dynamitey" version="2.0.9.136" targetFramework="net452" />
  <package id="ImpromptuInterface" version="7.0.1" targetFramework="net452" />

</packages>